body {
	margin: 0;
	color: rgb(247, 130, 109);
}

header {
	background-color: #E47310 ; 
	padding-bottom: 30px;
}

.header-wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.logo {
	position: relative;
	top: 20px;	
}

.site-menu {
	position: absolute;
	top: 50%;
	right: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	line-height: 50px;
}

.site-menu li {
	display: inline-block;
}

.site-menu a {
	font-size: 20px;
	color: #fff;
}

