@font-face {
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
	font-family: 'OpenSans-Regular';
}
@font-face {
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
	font-family: 'OpenSans-Bold';
}
@font-face {
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
	font-family: 'OpenSans-ExtraBold';
} 

html, body, ul {
	padding: 0;
	margin: 0;
}

body {
	background: #f6f2f2;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'OpenSans-Regular', 
	Helvetica, Arial, sans-serif;
}

header {
	position: relative;
	width: 1249px;
	height: 89px;
	background: #313030;
	margin: 30px auto;
	text-align: center;
}

ul {
	display: block;
	list-style-type: none;
	height: inherit;
}

ul li {
	display: inline-block;
	height: inherit;
	position: relative;
}

ul li:hover {
	background: #ff3f40;
}

ul li a {
	display:block;
	text-decoration: none;
	color: #FFF;
	padding: 0 20px;
	line-height: 89px;
	position: relative;
}


ul li a:visited, ul li a:active {
	color: #FFF;
}


main {
	display: block;
	position: relative;
	width: 1249px;
	height: 89px;
	margin: 30px auto;
}

.first-floor {
	display: inline-block;
	position: relative;
	width: 1249px;
	margin-top: 100px;
}

.left-side {
	display: block;
    float: left;
    max-width: 554px;
    max-height: 359px;
}
h1 {
	display: block;
	width: 618px;
	height: 117px;
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
	vertical-align: top;
	margin-top: 0px;
}

.intro-text {
	display: block;
	width: 544px;
	height: 73px;
	position: relative;
	text-align: justify;
	/* margin-top: 373.52px; */
}

.contact-link {
	display: block;
	background: #FF2D2D;
	width: 230px;
	height: 58px;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	padding-top: 25px;
}

.contact-link a {
	display: block;

}

.right-side {
	display: block;
    float: right;
}




