body {
	margin: 0;
	background-color: #F6F2F2;
}
header {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #000000;
}
.header-wrapper {
	position: relative;
	text-align: center;
}
.site-menu {
	position: relative;
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
}
.site-menu li{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}
.site-menu a {
	color: #E0E0E0;
	text-decoration: none;
}
.site-menu a:hover {
	background-color: #FF3F40;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 10px;
	padding-left: 10px;
}
.box {
	position: relative;
	margin: 15% auto 0;
	max-width: 1000px;
	max-height: 360px;
}
.box img {
	display: inline-block;
}
.text-box {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	margin-top: 0;
}
p{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-top: 0;
}
.text-box h1,p {
	display: inline-block;
	margin-right: 100px;
}
a.button {
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF2D2D;
	padding: .7em 1.5em; 
}